* {
  font-family: sans-serif;
}
th, tr {
  background-color: #eee;
}
th, td {
  padding: 5px;
}
table {
  width: 500px;
}
th {
  text-align: left;
  background-color: black;
  color: lime;
  border-radius: 7px 7px 0 0;
}